body {   
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;    
    grid-template-columns: 250px 1fr; 
    grid-template-rows: 80px 1fr 50px;  
}

#header{
    background-color: lightblue;
    grid-column: 1/-1;
}

.taskdiv {
    margin: 5px;
    width: 500px;
    display: flex;
    gap: 20px;
    background-color: white;
    border: 1px solid black;
}


#sidebar {
    overflow:auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    padding-left: 30px;
}

#content{
    overflow:auto;
    background-color: khaki;
}
 
#footer {
    background-color: #86273c;
    grid-column: 1/-1;
}

button {
    width: 100px;
}

.modal-form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

#modal-formcontainer {
    display: flex;
    flex-direction: column;
    gap:10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F6F7F8;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#book_closebutton {  
    cursor: pointer;
}

#formheader {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}


.speaker-form-header,
.speaker-form {
  width: 300px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-row input[type='text'], .form-row input[type='number'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 300;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 5px;
}

.book_checkbox {
    display: flex;
    align-self: center;
    gap:10px;
}

#formbody {
    display: flex;
    flex-direction: column;
}

#create-task {
    align-self: center;
    margin: 5px;
    width: 125px;
    height: 40px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #4CAF50;
    border: 1px solid green;
    border-radius: 10px;    
}

#book_createbook:hover {
    box-shadow: 2px 2px #337735; 
}