:root {
  --main-color: #413e3e;
  --dark-gray: #e5e5e5;
  --light-gray: #f8f8f8;
}

html {
  font-family: sans-serif;
}

.fa-solid {
  color: rgb(136, 132, 132);
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 70px 1fr 40px;
}

#header {
  color: white;
  font-size: 2rem;
  padding: 10px;
  background-color: var(--main-color);
  grid-column: 1/-1;
}

#footer {
  display: flex;
  background-color: #b7b7b7;
  grid-column: 1/-1;
  font-size: 1.2rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

#sidebar {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 20px 5px 10px 35px;
  background-color: var(--light-gray);
}

#project-container {
  padding: 0 20px;
  overflow: auto;
  margin: 10px;
  height: 280px;
}

.projectItem {
  cursor: pointer;
  padding: 5px;
  margin: 10px 0;
  width: 90%;
  font-size: 16px;
  border-radius: 5px;
}

.projectItem:hover {
  background-color: #e1e1e1;
}

#addNewProject {
  text-align: left;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  width: 85%;
  padding: 0;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
}

.sidebarbuttons {
  padding: 5px;
  margin-bottom: 10px;
  width: 85%;
  border-radius: 5px;
}

#addNewProject:hover {
  background-color: #e1e1e1;
}

.sidebarbuttons:hover {
  background-color: #e1e1e1;
}

.projectsheader {
  padding: 5px;
  margin-bottom: 10px;
  width: 85%;
  border-radius: 5px;
}

.higlight {
  background-color: #e1e1e1;
}

.projectItem {
  display: flex;
}

.deleteButton > *,
.editButtonForTask > *,
.deleteButtonForTask > * {
  pointer-events: none;
}

.projectItem {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

.deleteButton,
.editButtonForTask,
.deleteButtonForTask {
  width: fit-content;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.none {
  background-color: gray;
  width: 5px;
  height: 100%;
}

.low {
  background-color: green;
  width: 5px;
  height: 100%;
}

.medium {
  background-color: yellow;
  width: 5px;
  height: 100%;
}

.high {
  background-color: red;
  width: 5px;
  height: 100%;
}

.checkbox {
  margin: 5px;
}

.titleDiv {
  flex: 1;
  font-weight: bold;
  color: #636060;
}

.dateDiv {
  margin: 10px;
}

.editButtonForTask,
.deleteButtonForTask {
  margin: 10px;
}

.taskDiv {
  margin: 8px;
  display: flex;
  height: 50px;
  align-items: center;
  background-color: var(--light-gray);
}

.content-container-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration-line: underline;
  text-align: center;
  color: #636060;
  margin-bottom: 5px;
}
.titleDivChecked {
  text-decoration-line: line-through;
}
.dateDiv {
  font-size: 80%;
  color: #636060;
}
.editButtonForTask:hover,
.deleteButton:hover,
.deleteButtonForTask:hover,
.checkbox:hover {
  transform: scale(1.1);
}

.fa-solid:hover {
  fill: #3ba395;
  color: #3ba395;
}

.checkbox {
  cursor: pointer;
}

#taskFormContainer {
  margin-top: 10px;
}

.hideElement {
  display: none;
}

.showElement {
  display: block;
}

#content {
  background-color: none;
}

#content-container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding-right: 100px;
  overflow: auto;
}

input#pr-title {
  background-color: #ffffff;
  width: 200px;
  height: 20px;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: black;
  box-shadow: none; /* Remove default red glow in Firefox */
}

#addProject,
#closeProjForm {
  width: 100px;
  background: none;
  color: inherit;
  padding: 0;
  font-size: 0.8rem;
  background-color: #636060;
  border: 1px solid black;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 1px 3px 1px 3px;
  outline: inherit;
}

.projecterror,
#titleerrdiv {
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
}

#addNewTask {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 30px;
  cursor: pointer;

  width: 120px;
  background: none;
  color: inherit;

  font-size: 0.9rem;
  background-color: #636060;
  border: 1px solid black;

  color: white;
  font-weight: bold;
  outline: inherit;
  margin-left: 8px;
}

#addNewTask > .fa-solid {
  color: white;
}

#addNewTask:hover {
  transform: scale(1.01);
}

#add-Task:disabled,
#edit-Task:disabled {
  opacity: 0.5;
}

#add-Task,
#edit-Task,
#closeTaskForm {
  width: 60px;
  background: none;
  color: inherit;
  padding: 0;
  font-size: 0.8rem;
  background-color: #636060;
  border: 1px solid black;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 1px 3px 1px 3px;
  outline: inherit;
  height: 20px;
  width: ;
}

#formButtons {
  width: 100%;
  display: flex;
  gap: 5px;
  padding: 5px 0 5px 0;
  justify-content: flex-end;
}

#formButtons > button:hover:enabled {
  transform: scale(1.03);
}

#formButtons > button:hover:disabled {
  cursor: default;
}

.taskFormDiv {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}

.taskFormDiv > input {
  margin: 5px;
}

.taskFormDiv > div > input {
  margin: 5px;
}

#task-title {
  border: none;
  width: 100%;
}

#task-title:focus {
  outline: none;
}

#date,
#task-priority {
  border: none;
}

#date:focus,
#task-priority:focus {
  outline: none;
}

#task-priority {
  background: none;
}

#taskForm {
  padding: 0 8px 0 8px;
}

#addProject:hover:enabled,
#closeProjForm:hover {
  transform: scale(1.02);
}

#addProject:hover:disabled {
  cursor: default;
}

#addProject:disabled {
  opacity: 0.5;
}
